# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\H\FH\Campus Wien\0_Semester_1\Programmierung 1 ILV\projects\kompensation-dominik-schramm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
